# Byte-compiled / optimized / DLL files
server/*/__pycache__/
server/__pycache__/
client/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm / VS Code
.idea/
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Local config
*.env
.env.*
